@import '~antd/dist/antd.css';

#components-layout-fixed-sider .logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
	background: #fff;
}

#components-layout-top-side .logo {
	float: left;
	width: 120px;
	height: 31px;
	margin: 16px 24px 16px 0;
	background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-top-side .logo {
	float: right;
	margin: 16px 0 16px 24px;
}

.site-layout-background {
	background: #fff;
}

textarea {
	resize: none;
}

.flex {
	display: inline-flex;
	justify-content: flex-end;
}
